.grid-center {
  display: grid;
  align-items: center; 
  justify-content: center; 
  height: 90vh;   
}

.form-box{
  display: block;  
  margin: auto; 
  text-align: center;
  font-size: 20px;
  
  border-style: solid;
  border-color:#14557a;
  border-radius: 10%;
  padding: 25px;
}

#form-beauty{
text-align: center;
font-size: 20px;
margin: 0 0 2vh 0;
}

#form-input {
  border-style: solid;
  border-color:#14557a;
  display: block;
  width: 100%;
  padding: 0.5rem 0.8rem;
  margin: 0.9vw 0;
  font-size: 25px;
}

#login{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(5, 152, 98);
  border: none;
  }
/*mind there are css from className="form-control" from bootstrap