.BKG-color{
    background-color: 95adab;
}

.clickableWAT {
    margin-right: 2px;
    display: none; 
    display: flex; 
    font-family: monospace;
    font-weight: 700;
    letter-spacing: 0.3rem;
    color: inherit;
    text-decoration: none;
    transition: color 0.3s; 
}
  
.clickableWAT:hover {
    color: #7FFFD4; 
    cursor: pointer; 
}